{{$ zb.ext.about.popups.templates.about }}

<div class="zb-center">
	<div class="zb-center__cell">
		<div class="zb-center__container p-zb-about__container" data-export-id="{{@content}}"></div>
	</div>
</div>
