{{$ zb.ext.about.popups.templates.about }}

<div class="zb-center">
	<div class="zb-center__cell">
		<div class="zb-center__container p-zb-about__container" data-export-id="{{@content}}">
			Application name: {{- zb.packageInfo.name }}<br>
			Application version: {{- zb.packageInfo.version }}<br>
			Zombiebox version: {{- zb.packageInfo.dependencies.zombiebox }}<br>
			Zombiebox in web: http://zombiebox.tv/
		</div>
	</div>
</div>
